{% set base = 'basic-template' %}

<article {{ bem(base, [content_type, view_mode]) }}>

  {% if hero_image and not hide_image %}
    <div {{ bem('hero-image', [], base) }}>
      {{ hero_image }}
    </div>
  {% endif %}

  <div {{ bem('content-row', [], base, ['row']) }}>
    <div class="col--12">
      {% include "@atoms/05-heading/_heading.twig" with {
        heading: {
          parent: base,
          base: 'title',
          level: 1,
          content: title
        }
      } only %}

      {% if content_type != 'blog' and (additional_status or additional_author) %}
        <div {{ bem('status', [], base) }}>
          {% if additional_author %}
            {{ additional_author }}
          {% endif %}

          {% if additional_author  and additional_status %}
            |
          {% endif %}

          {% if additional_status %}
            {{ additional_status }}
          {% endif %}
        </div>
      {% endif %}

      {% if created  and content_type != 'legislation' %}
         <div {{ bem('date', [], base) }}>
          {{ created }}
        </div>
      {% endif %}

      {% if content_type != 'basic-page' %}
      {% include "@organisms/10-social-share/_social-share.twig" %}
      {% endif %}

      {% if content_type == 'blog' %}
        {% if author.name %}
          <div {{ bem('author-info', [], base) }}>
            {{ 'By: '|trans }}
            {% include '@molecules/82-blog-author/_blog-author.twig' with {
              author: author,
              mod: 'first-author'
            } only %}
            {% if additional_author.name %}
            {{ ' and '|trans }}
              {% include '@molecules/82-blog-author/_blog-author.twig' with {
                author: additional_author,
                mod: 'second-author'
              } only %}
            {% endif %}
          </div>
        {% endif %}
      {% endif %}

      {# {{ dump(author) }}
      {{ dump(additional_author) }} #}

      {% if image and not hero_image and not hide_image %}
        <h2 class="visually-hidden">{{ "Page Media"|trans }}</h2>
        <div {{ bem('image', [], base) }}>
          {{ image }}
        </div>
      {% endif %}

      <div {{ bem('content', [], base) }}>
        {{ content }}
      </div>
    </div>
  </div>

        {# <div {{ bem('sub-topics', [], base, ['row']) }}>
          <div class="col--12">
            {{ content.field_sub_topics }}
          </div>
        </div>

        {% if listing_content %}
          <div {{ bem('listing-row', [], base, ['row']) }}>
            <div class="col--12">
              {% include '@organisms/75-tabbed-listing/_tabbed-listing.twig' with {
                items: listing_content,
                show_all_tab: show_all_tab
              } only %}
            </div>
          </div>
        {% endif %} #}
</article>
