<div {{ bem('inlinesearch') }}>
  <div {{ bem('form-wrapper', [], 'inlinesearch') }}>
    {# <div {{bem('form-label', [], 'inlinesearch') }}>{{ 'Search'|trans }}</div> #}
    {{ form }}
  </div>
</div>
